datasets
nltk
scikit-learn
transformers
accelerate
bitsandbytes
evaluate
evaluate                                                                                                              
ftfy                                                                                                                  
emoji                                                                                                                 
pandas  